@import (inline)'../../node_modules/normalize.css/normalize.css';
@import 'variables';
@import 'patterns';
@import 'nav';
@import 'title';
@import 'footer';
@import './sections/goodies';
@import './sections/video';
@import './sections/demos';
@import './sections/technologies';

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

html, body {
  font-family: RobotoDraft, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @lightText;
  background-color: @paperColor;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #444;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 20px;
  font-weight: 400;
}

.container {
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
  @media (min-width: 1440px) {
    width: 1410px;
  }
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bn-pattern {
  position: relative;
  height: 77px;
  overflow: hidden;
  .kenzo {
    position: absolute;
    left: -10px;
    right: 0;
    top: -14px;
    bottom: 0;
  }
}

section {
  min-height: 600px;
  .container {
    //prevent margins collapsing
    padding-top: 1px;
    padding-bottom: 1px;
    
  }
}