@accent-color: #009688;

@navbar-height: 50px;
@nav-backgorund: #000;
@nav-color: rgba(255,255,255,.87);

@lightText: rgba(0, 0, 0, .87);
@lightSecondaryText: rgba(0, 0, 0, .54);

@darkText: rgba(255, 255, 255, 1);
@darkSecondaryText: rgba(255, 255, 255, .7);

@paperColor: #fafafa;