<div class="container demos">
	<h2>		
		{{#ifEquals lang 'en'}}
			Demo configurations
		{{/ifEquals}}
		{{#ifEquals lang 'ru'}}
			Демонстрационные конфигурации
		{{/ifEquals}}
	</h2>
	<div class="cards-list">
		<div class="item card light-blue">
			{{> browserSvg }}
			<div class="head">
				<h3>Система обработки заказов</h3>
			</div>
			<div class="body">
				<p>Пример автоматизации работы химчистки</p>
			</div>
			<div class="actions">
				<button type="button" class="btn-flat first">Вход</button>
			</div>
		</div>
		<div class="item card cyan">
			{{> browserSvg }}
			<div class="head">
				<h3>Учет клиентов и сделок</h3>
			</div>
			<div class="body">
				<p>База клиентов и документооборот в облаке</p>
			</div>
			<div class="actions">
				<button type="button" class="btn-flat first">Вход</button>
			</div>
		</div>
		<div class="item card indigo">
			{{> browserSvg }}
			<div class="head">
				<h3>Биллинг</h3>
			</div>
			<div class="body">
				<p>Личный кабинет для клиентов компании и администратора</p>
			</div>
			<div class="actions">
				<button type="button" class="btn-flat first">Вход</button>
			</div>
		</div>
	</div>
</div>