<div class="container demos">
	<h2 id="demo">		
		{{#ifEquals lang 'en'}}
			Look Blank in action
		{{/ifEquals}}
		{{#ifEquals lang 'ru'}}
			Посмотрите Blank в действии
		{{/ifEquals}}
	</h2>
	<div class="cards-list">
		<a class="item card oms" href="http://oms.getblank.net" target="_blank">
			{{> browserSvg }}			
			<div class="body">				
				{{#ifEquals lang 'en'}}
					<h3>Customer orders management</h3>
					<p>Dry-cleaner's automaiton example</p>
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					<h3>Система обработки заказов</h3>
					<p>Пример автоматизации работы химчистки</p>
				{{/ifEquals}}
			</div>			
			<div class="action">
				<div class="play"></div>
			</div>
		</a>
		<a class="item card crm" href="http://oms.getblank.net" target="_blank">
			{{> browserSvg }}
			<div class="body">				
				{{#ifEquals lang 'en'}}
					<h3>CRM</h3>
					<p>Client accounts and deals management in the cloud</p>
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					<h3>Учет клиентов и сделок</h3>
					<p>База клиентов и документооборот в облаке</p>
				{{/ifEquals}}
			</div>
			<div class="action">
				<div class="play"></div>
			</div>
		</a>
		<a class="item card billing" href="http://oms.getblank.net" target="_blank">
			{{> browserSvg }}
			<div class="body">
				{{#ifEquals lang 'en'}}
					<h3>Billing</h3>
					<p>Portal for company administrator and clients</p>
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					<h3>Биллинг</h3>
					<p>Личный кабинет для клиентов компании и администратора</p>
				{{/ifEquals}}				
			</div>
			<div class="action">
				<div class="play"></div>
			</div>
		</a>
	</div>
</div>