<div class="container demos">
	<h2>		
		{{#ifEquals lang 'en'}}
			Demo configurations
		{{/ifEquals}}
		{{#ifEquals lang 'ru'}}
			Демонстрационные конфигурации
		{{/ifEquals}}
	</h2>
	<div class="cards-list">
		<a class="item card oms" href="http://oms.getblank.net" target="_blank">
			{{> browserSvg }}
			<div class="body">
				<h3>Система обработки заказов</h3>
				<p>Пример автоматизации работы химчистки</p>
			</div>
			<div class="action">
				<div class="play"></div>
			</div>
		</a>
		<a class="item card crm" href="http://oms.getblank.net" target="_blank">
			{{> browserSvg }}
			<div class="body">
				<h3>Учет клиентов и сделок</h3>
				<p>База клиентов и документооборот в облаке</p>
			</div>
			<div class="action">
				<div class="play"></div>
			</div>
		</a>
		<a class="item card billing" href="http://oms.getblank.net" target="_blank">
			{{> browserSvg }}
			<div class="body">
				<h3>Биллинг</h3>
				<p>Личный кабинет для клиентов компании и администратора</p>
			</div>
			<div class="action">
				<div class="play"></div>
			</div>
		</a>
	</div>
</div>