<div class="container">
	<h2>		
		{{#ifEquals lang 'en'}}
			Platform features
		{{/ifEquals}}
		{{#ifEquals lang 'ru'}}
			Особенности платформы
		{{/ifEquals}}
	</h2>
	<div class="cards-list">
		<div class="item">
			<h3>Любая структура данных</h3>
			<p>Неограниченное количество сущностей, множество типов данных и вариантов отображения. Любые типы связи данных: 1-1, 1-N,
				M-N
			</p>
		</div>
		<div class="item">
			<h3>4 варианта отображения данных</h3>
			<p>Таблицы, списки, карточки элементов, одиночный элемент &mdash; можно настроить любой вид для каждого хранилища (сущности).
				Настраиваемая зона предпросмотра.</p>
		</div>
		<div class="item">
			<h3>Фильтрация и сортировка</h3>
			<p>Фильтры по любым условиям настраиваются за несколько минут. Сортировка по предустановленныму полю в списке, мгновенная
				по любому полю в таблицах</p>
		</div>
		<div class="item">
			<h3>Всегда актуальные данные</h3>
			<p>Не нужно обновлять страницу в браузере &mdash; данные в Blank обновляются автоматически</p>
		</div>
		<div class="item">
			<h3>Центр уведомлений</h3>
			<p>Встроенная система для отправки сообщений пользователям</p>
		</div>
		<div class="item">
			<h3>Скорость и безопасность</h3>
			<p>Гибкая система разграничения прав доступа защитит ваши данные, а встроенный движок полнотекстового поиска сделает работу
				с ними быстрой и комфортной.</p>
		</div>
		<div class="item">
			<h3>Встроенные телефония и почта</h3>
			<p>Мы уже подключили IP телефонию и средства для работы с электронной почтой. Просто введите настройки для ваших поставщиков
				услуг связи, и пользуйтесь.</p>
		</div>
		<div class="item">
			<h3>Настраиваемые формы входа и регистрации</h3>
			<p>Управление пользователями, регистрация, восстановление пароля и профиль работают сразу. А еще можно перенастроить любую форму</p>
		</div>
		<div class="item">
			<h3>Мультиязычность</h3>
			<p>Blank создан с поддержкой интернационализации из коробки</p>
		</div>
		<div class="item">
			<h3>Простое брендирование</h3>
			<p>Фирменные цвета и логотип задаются тремя строчками в конфигурации</p>
		</div>
	</div>
</div>