<div class="container">
	<h2>Fast unique application building</h2>
	<div class="summary">
		<p>
			Blank&nbsp;&mdash; is your development start point and great wireframe. The tool helps to get a ready solution for business. 
			Just for few hours you can set up your data structure and get working app! Easy and deep tuning become possible with help of 
			scenarious written in good known script language - JavaScript. Blank engine is already works for 
			<span>CRMs, customer order systems, ERPs and call-centers.</span>
		</p>
	</div>
	<div class="goodies-list">
		<div class="item">
			<h3>Reduced development cost</h3>
			<p>We have user interface ready, lot of routine data manage tasks solved. Just concentrate on business logic coding.</p>
		</div>
		<div class="item">
			<h3>Buil-in IP telephony and mail</h3>
			<p>We have already connected IP telephony and tools for working with e-mail. Just enter the settings for your service providers 
				and start using.</p>
		</div>
		<div class="item">
			<h3>Fast and secure</h3>
			<p>A flexible system of access rights allocation will help to protect your data. Built-in full text search engine 
				will deliver the quick and easy work with data.</p>
		</div>
	</div>
</div>