<div class="container">
	<button type="button" class="navbar-toggle" id="nav-toggle">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<ul class="nav collapse" id="nav">
		<li class="logo">
			<a href="index.html">
				<div class="blank"></div>BLANK</a>
		</li>
		<!--<li>
			<a href="/#demo" class="index-link">
				{{#ifEquals lang 'en'}}
					Demo
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Демо
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="/#technology" class="index-link">				
				{{#ifEquals lang 'en'}}
					Technology
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Технологии
				{{/ifEquals}}
			</a>
		</li>-->
		<li>
			<a href="pricing.html" class="{{#ifEquals page 'pricing'}}active{{/ifEquals}}">
				{{#ifEquals lang 'en'}}
					Pricing
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Цены
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="platform.html" class="{{#ifEquals page 'platform'}}active{{/ifEquals}}">
				{{#ifEquals lang 'en'}}
					Blank platform
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					О платформе
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="http://docs.getblank.net">
				{{#ifEquals lang 'en'}}
					Docs
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Документация
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="http://blog.getblank.net">
				{{#ifEquals lang 'en'}}
					Blog
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Блог
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="#contacts" class="index-link">
				{{#ifEquals lang 'en'}}
					Contact us
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Контакты
				{{/ifEquals}}
			</a>
		</li>
	</ul>
</div>