<div class="container">
	<ul class="nav">
		<li class="logo">
			<a href="#">
				<div class="blank"></div>BLANK</a>
		</li>
		<li>
			<a href="#demo">
				{{#ifEquals lang 'en'}}
					Demo
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Демо
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="#technology">				
				{{#ifEquals lang 'en'}}
					Technology
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Технологии
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="#pricing">
				{{#ifEquals lang 'en'}}
					Pricing
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Цены
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="http://docs.getblank.net">
				{{#ifEquals lang 'en'}}
					Docs
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Документация
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="http://blog.getblank.net">
				{{#ifEquals lang 'en'}}
					Blog
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Блог
				{{/ifEquals}}
			</a>
		</li>
		<li>
			<a href="#">
				{{#ifEquals lang 'en'}}
					Contact us
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					Контакты
				{{/ifEquals}}
			</a>
		</li>
	</ul>
</div>