<div class="container pricing">
	<h2 id="pricing">		
		{{#ifEquals lang 'en'}}
			Pricing
		{{/ifEquals}}
		{{#ifEquals lang 'ru'}}
			Цены
		{{/ifEquals}}
	</h2>
	<div class="cards-list">
		<div class="item card">
			<div class="head">
				<h3>Basic</h3>
			</div>
			<div class="bn-pattern kenzo-back basic">
				<div class="kenzo">
				</div>
			</div>
			<div class="body">				
				{{#ifEquals lang 'en'}}
					<p>Up to 10 users</p>
					<p>10Gb storage space</p>
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					<p>До 10 пользователей</p>
					<p>10Гб дискового пространства</p>
				{{/ifEquals}}			
			</div>
			<div class="price">
				<span>
					{{#ifEquals lang 'en'}}
						199 / month
					{{/ifEquals}}
					{{#ifEquals lang 'ru'}}
						5&nbsp;900&nbsp;&#8381; / месяц
					{{/ifEquals}}
				</span>
			</div>		
		</div>
		<div class="item card">
			<div class="head">
				<h3>Pro</h3>
			</div>
			<div class="bn-pattern kenzo-back pro">
				<div class="kenzo">
				</div>
			</div>
			<div class="body">
				{{#ifEquals lang 'en'}}
					<p>Up to 30 users</p>
					<p>30Gb storage space</p>
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					<p>До 30 пользователей</p>
					<p>30Гб дискового пространства</p>
				{{/ifEquals}}			
			</div>
			<div class="price">
				<span>
					{{#ifEquals lang 'en'}}
						$199 / month
					{{/ifEquals}}
					{{#ifEquals lang 'ru'}}
						12&nbsp;900&nbsp;&#8381; / месяц
					{{/ifEquals}}
				</span>
			</div>		
		</div>
		<div class="item card">
			<div class="head">
				<h3>Enterprise</h3>
			</div>
			<div class="bn-pattern kenzo-back enterprise">
				<div class="kenzo">
				</div>
			</div>
			<div class="body">				
				{{#ifEquals lang 'en'}}
					<p>Up to 100 users</p>
					<p>Unlimited storage space</p>
				{{/ifEquals}}
				{{#ifEquals lang 'ru'}}
					<p>До 100 пользователей</p>
					<p>Неограниченное дисковое пространство</p>
				{{/ifEquals}}			
			</div>
			<div class="price">
				<span>
					{{#ifEquals lang 'en'}}
						$499 / month
					{{/ifEquals}}
					{{#ifEquals lang 'ru'}}
						29&nbsp;900&nbsp;&#8381; / месяц
					{{/ifEquals}}
				</span>
			</div>		
		</div>			
	</div>
	<div class="sign-up">
		<button type="button">
			{{#ifEquals lang 'en'}}
				Sign up for free
			{{/ifEquals}}
			{{#ifEquals lang 'ru'}}
				Зарегистрироваться
			{{/ifEquals}}
		</button>
	</div>
</div>