<div class="container">
	<h2 id="technology">
		{{#ifEquals lang 'en'}}
			Technology stack
		{{/ifEquals}}
		{{#ifEquals lang 'ru'}}
			Технологии
		{{/ifEquals}}
		</h2>
	<img src="/img/technologies.svg" alt="technologies">
	<div class="summary">
		<p>
			<span>Blank</span> разработан на современных и популярных языках программирования &mdash; <span>Go</span> и <span>JavaScript</span>.</br>
			Клиентская часть &mdash; <i class="tooltip" data-tooltip="Single Page Application &mdash; одностроначное веб-приложение">SPA</i>			на платформе <span>React JS</span>. Данные в приложении обновляются в режиме реального времени благодаря двунаправленному
			каналу связи с сервером по протоколу
			<span>WebSocket</span>.
			</br>
			При разработке на Blank не нужно изучать Go &mdash; все делается на JavaScript, для этого в сервер приложения встроен интерпретатор
			сценариев, поддерживающий стандарт <span>ECMAscript 5.1</span>.</br>
			Подробнее об API для разработчиков читайте в <a href="http://docs.getblank.net">документации</a>
		</p>
		<!--<p>Go был разработан компанией
			Google и официально представлен в 2009 году. Google и другие компании активно используют программы на Go в своей работе.
			JavaScript &mdash; самый распротраненный язык для написания сценариев, он используется почти каждым сайтом в сети Интернет</p>-->
	</div>
</div>